<% if @images.any? %>
  <% @images.each do |image| %>
    <%= link_to image.name, image_path(image), class: "image name" %><br>
    <div class="image category">Category: <%= image.category %></div>
    <%= link_to "Edit", edit_image_path(image), class: "image link" %>
    <%= link_to "Remove", image_path(image), method: :delete, class: "image link" %>
  <% end %>
<% else %>
  <div class="text">No images have been uploaded yet :(</div>
<% end %>
<%= link_to "Upload an image", new_image_path, class: "image link" %>
