<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
      <div id="main-container" class="container">
        <p class="space"></p>
            <div class="navbar navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <%= link_to "DEPICTORAMA", images_path, class: "navbar-brand" %>
                  <i class="menu-icon"><%= material_icon.menu.md_36 %></i>
                  <%= link_to "Upload image", new_image_path, class: "navbar-right" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="space"></div>
              <% if flash[:notice] %>
                <p class="alert alert-info"><%= notice %></p>
              <% elsif flash[:alert]%>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
            <%= yield %>
    </div>
  </body>
</html>
